<a href="https://colab.research.google.com/github/michalis0/BigScaleAnalytics/blob/master/week4/BigQuery.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BigQuery

In [0]:
import pandas as pd

In [0]:
from google.cloud import bigquery

In [0]:
#for colab users
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

In the BigQuery console make a new project for your self and also create a dataset under that project. Make two tables under that dataset by uploading the Teams and Players data from week 2. (Follow the instructions from the slides)

Below, specify the project id and the dataset name you just created in google big query. Then you will be able to create a client object to your project and make a reference to your dataset.

In [0]:
# Create a "Client" object
client = bigquery.Client(project="YOUR PROJECT ID HERE")

In [0]:
# Construct a reference to the week4 dataset
dataset_ref = client.dataset("YOUR DATASET NAME HERE", project="YOUR PROJECT ID HERE")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [0]:
# List all the tables in the  dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset 
for table in tables:  
    print(table.table_id)

In [0]:
# Construct a reference to the "Teams" table
table_ref = dataset_ref.table("Teams")

# API request - fetch the table
teams_table = client.get_table(table_ref)

table_ref = dataset_ref.table("Players")
players_table = client.get_table(table_ref)

In [0]:
# Print information on all the columns in the "Teams" table 
players_table.schema

In [0]:
# Preview the first five lines of the "Teams" table. You can do this with pandas
client.list_rows(teams_table, max_results=5).to_dataframe()

In [0]:
# an example query
q1 = """
select * from `week4-bigscaleanalytics.Week4_datasets.Teams`
where ranking < 20
order by ranking asc
"""

query_job = client.query(q1)
query_job.to_dataframe()

In [0]:
# join the two data sets
q2 = """

"""

query_job = client.query(q2)
query_job.to_dataframe().head(10)

In [0]:
# practice more queries on your own
# you can even use the examples from week 2

## Exercise:
Let's run some queries on the accidents data of 2016 from the nhtsa traffic facilities dataset. This data-set is publicly available in google cloud.

In [0]:
# Construct a reference to the traffic facilities dataset
traffic_ref = client.dataset("nhtsa_traffic_fatalities", project="bigquery-public-data")

# API request - fetch the dataset
traffic_dataset = client.get_dataset(traffic_ref)

In [0]:
# Construct a reference to the "accident_2016" table
accidents_ref = traffic_ref.table("accident_2016")

# API request - fetch the table
accidents_table = client.get_table(accidents_ref)

In [0]:
accidents_table.schema

In [0]:
# Preview the first five lines of the "accident_2016" table
client.list_rows(accidents_table, max_results=5).to_dataframe()

1- how many crashes happened in each month?

In [0]:
# how many crashes per month
q3 = """

"""

query_job_3 = client.query(q3)
query_job_3.to_dataframe()

2- Let's call the accidents with more that 5 motor vehichels in transport involved as massive_crash and otherwise call them small crash. Then return the number of these type of crashes for each weather condition.

__Hint: use columns `atmospheric_conditions_1_name` and `number_of_motor_vehicles_in_transport_mvit`.__

In [0]:
q4 = """

"""

query_job_4 = client.query(q4)
query_job_4.to_dataframe()

3 - Find the top 5 states with the most total number of drunk drivers involved in accidents.

In [0]:
# find the top 5 states with the most number of drunk drivers
q5 = """

"""

query_job_5 = client.query(q5)
query_job_5.to_dataframe()

4- Let's see which states, working with a cell-phone is a major cause of accidents. For this you need to use `distract_2016` table. return the state names together with the number of crashes where the driver was distracted "while manipulating cellular phone".

In [0]:
q6 = """

"""

query_job_6 = client.query(q6)
query_job_6.to_dataframe()

5- sometimes a "live animal" is a reason that a driver maneuvers and this cause an accidents. Let's see for which months of the year accidents with such a cause happen more. you need to use the `maneuver_2016` table. Return the month and the number of incidents.

In [0]:
q7 = """

"""

query_job_7 = client.query(q7)
query_job_7.to_dataframe()

6- In which months of the year in the state of Alaska, "poor road conditions" cause more accidents. Again use the `maneuver_2016` table. return the month and the number of incidents.

In [0]:
q8 = """

"""

query_job_8 = client.query(q8)
query_job_8.to_dataframe()

7- For the vehichels having a "brake system" problem which factors where the major reasons that caused the driver to maneuver. Return the `driver_maneuvered_to_avoid_name` column together with the number of incidents for each maneuver reason. You need to use the `factor_2016` table.

In [0]:
q9 = """

"""

query_job_9 = client.query(q9)
query_job_9.to_dataframe()

8- Sometimes a non-motorist is ivolved in a crash. Find the number of crashes in which an "inattentive" person was involved in each state. return the state name and number of crashes in the descending order of number of crashes.

In [0]:
q10 = """

"""

query_job_10 = client.query(q10)
query_job_10.to_dataframe()